{
  "presets": [
    ["es2015", { "modules": false }]
  ],
  "plugins": [["transform-object-rest-spread", "transform-vue-jsx", "component", [
    {
      "libraryName": "element-ui",
      "styleLibraryName": "theme-chalk"
    }
  ]]]
}
