.rect ul.originDataDetail {
  width: 100%;
  min-width: 900px;
}
.rect ul.originDataDetail li {
  width: 25%;
  height: 58px;
  text-align: center;
  font-size: 14px;
  line-height: 28px;
}
.rect ul.originDataDetail li p:last-child {
  font-size: 15px;
  font-weight: bold;
  color: #b81717;
}
